.toggle-sub-task {
  transition: transform 0.2s ease-in-out;
}

.bg-auto-cfg {
  background-color: #3a6351 !important;
  /* Dark muted green */
}

.bg-user-cfg {
  background-color: #8b6d51 !important;
  /* Muted, desaturated orange */
}

.card {
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* Subtle shadow effect */
}

.dropdown-toggle::after {
  display: none !important;
}

.action-buttons {
  text-align: right;
  margin-bottom: 0;
  padding-bottom: 0;
}

.toggle-sub-task-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.toggle-sub-task-btn .fas {
  font-size: 1.5em; 
  color: #333; 
}

.sub-task-content {
  margin-left: 1.5em; 
  transition: max-height 0.3s ease, opacity 0.3s ease; 
  opacity: 1;
  max-height: 1000px; 
}
